<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/spitapp</property>
 		<property name="connection.driver_class">org.postgresql.Driver</property>
	 	<property name="connection.username">spitapp</property>
 		<property name="connection.password">green</property>
 		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 		<!-- SQL dialect - generate SQL for a particular database -->
 		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>	
		<property name="connection.pool_size">1</property>
		<property name="current_session_context_class">thread</property>
		<mapping resource="spitapp/core/model/Task.hbm.xml"></mapping>
		<mapping resource="spitapp/core/model/ExpensesEntry.hbm.xml"></mapping>
		<mapping resource="spitapp/core/model/Document.hbm.xml"></mapping>
		<mapping resource="spitapp/core/model/Patient.hbm.xml"></mapping>
		<mapping resource="spitapp/core/model/Appointment.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>